@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap");

.font {
  font-family: "Baloo Da 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.assetsContainer {
  width: 675px;
  height: 266px;
  background-color: #201e29;
  border-radius: 9.3px;
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  align-self: center;
}

.assetPartNames {
  width: 650px;
  height: 19px;
  background-color: #545163;
  border-radius: 2px;
  display: flex;
  align-self: center;
  margin-bottom: 10px;
  flex-direction: row;
}

.nameText {
  color: white;
  margin-left: 14px;
  margin-top: 5px;
  margin-bottom: 30px;
}

.partInfo1 {
  font-size: 12px;
  color: #ffffff;
  position: relative;
  left: 6px;
}

.partInfo2 {
  font-size: 12px;
  color: #ffffff;
  position: relative;
  left: 40px;
}

.partInfo3 {
  font-size: 12px;
  color: #ffffff;
  position: relative;
  left: 200px;
}

.partInfo4 {
  font-size: 12px;
  color: #ffffff;
  position: relative;
  left: 325px;
}
