@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap");

.font {
  font-family: "Baloo Da 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.asset-components {
  height: 31px;
  width: 650px;
  margin-bottom: 4px;
  display: flex;
  align-self: center;
  background-color: #323041;
  border-radius: 2px;
  flex-direction: row;
}

.assetHexagon {
  position: relative;
  left: 6px;
  width: 28px;
  height: 28px;
  color: rgb(120, 0, 0);
  margin-top: 1px;
}

.assetName {
  font-size: 11px;
  color: #cfcfcf;
  position: relative;
  left: 42px;
  width: 80px;
  top: 7px;
}

.assetVulnerabilities {
  font-size: 11px;
  width: 20px;
  color: #cfcfcf;
  position: relative;
  left: 200px;
  top: 7px;
}

.assetLastSeen {
  font-size: 11px;
  color: #cfcfcf;
  position: relative;
  left: 345px;
  top: 7px;
}

.grade{
  position: relative;
  left: 24px;
  bottom: 6px;
  z-index: 100;
  font-size: 12px;
}